<ng-template [ngIf]="isLoaded" [ngIfElse]="Spinner">
  <mat-toolbar>
    <mat-toolbar-row class="radio-btns-container">
      <mat-radio-group>
        <span>Show optimal place for:</span>
        <span class="fill-remaining-space"></span>
        <mat-radio-button name="Gender" value="MALE" [checked]="selectedGender === 'MALE'" (change)="genderSelected($event)">Male</mat-radio-button>
        <mat-radio-button name="Gender" value="FEMALE" [checked]="selectedGender === 'FEMALE'" (change)="genderSelected($event)">Female</mat-radio-button>
      </mat-radio-group>
    </mat-toolbar-row>
  </mat-toolbar>
  <div *ngIf="cities" class="grid-container">
    <mat-card *ngFor="let city of cities; let i = index">
      <mat-card-title>City #{{i+1}}: {{city.name}}</mat-card-title>
      <mat-card-subtitle>Country code: {{city.country}}</mat-card-subtitle>
      <mat-card-content>
        <p>Temperature: {{city.temp}}</p>
        <p>Humidity: {{city.humidity}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
<ng-template #Spinner>
  <div class="spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
