:host{
  height: 100%;
  display: block;
  mat-toolbar {
    .radio-btns-container {
      mat-radio-group {
        width: 100%;
        display: flex;
        mat-radio-button {
          margin: 0 30px;
        }
      }
      .fill-remaining-space {
        flex: 1 1 auto;
      }
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    mat-card {
      display: inline-block;
      margin: 20px;
      width: 300px;
    }
  }
  .spinner-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
